<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= post.message %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= post.birthday %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= post.number %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= post.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

</div>
